*appsettings.Development.json
/CreateCities.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CreateCities.Core/obj/Debug/net8.0/CreateCities.Core.AssemblyInfo.cs
/CreateCities.Core/obj/Debug/net8.0/CreateCities.Core.AssemblyInfoInputs.cache
/CreateCities.Core/obj/Debug/net8.0/CreateCities.Core.assets.cache
/CreateCities.Core/obj/Debug/net8.0/CreateCities.Core.GeneratedMSBuildEditorConfig.editorconfig
/CreateCities.Core/obj/Debug/net8.0/CreateCities.Core.GlobalUsings.g.cs
/CreateCities.Core/obj/CreateCities.Core.csproj.nuget.dgspec.json
/CreateCities.Core/obj/CreateCities.Core.csproj.nuget.g.props
/CreateCities.Core/obj/CreateCities.Core.csproj.nuget.g.targets
/CreateCities.Core/obj/project.assets.json
/CreateCities.Core/obj/project.nuget.cache
/CreateCities.Core/obj/project.packagespec.json
/CreateCities.Core/obj/rider.project.model.nuget.info
/CreateCities.Core/obj/rider.project.restore.info
/CreateCities.Core/CreateCities.Core.csproj
/CreateCities.Application/obj/Debug/net8.0/ref/CreateCities.Application.dll
/CreateCities.Application/obj/Debug/net8.0/refint/CreateCities.Application.dll
/CreateCities.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.AssemblyInfo.cs
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.AssemblyInfoInputs.cache
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.assets.cache
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.csproj.AssemblyReference.cache
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.csproj.CoreCompileInputs.cache
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.csproj.FileListAbsolute.txt
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.dll
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.GeneratedMSBuildEditorConfig.editorconfig
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.GlobalUsings.g.cs
/CreateCities.Application/obj/Debug/net8.0/CreateCities.Application.pdb
/CreateCities.Application/obj/CreateCities.Application.csproj.nuget.dgspec.json
/CreateCities.Application/obj/CreateCities.Application.csproj.nuget.g.props
/CreateCities.Application/obj/CreateCities.Application.csproj.nuget.g.targets
/CreateCities.Application/obj/project.assets.json
/CreateCities.Application/obj/project.nuget.cache
/CreateCities.Application/obj/project.packagespec.json
/CreateCities.Application/obj/rider.project.model.nuget.info
/CreateCities.Application/obj/rider.project.restore.info
/CreateCities.Application/bin/Debug/net8.0/CreateCities.Application.deps.json
/CreateCities.Application/bin/Debug/net8.0/CreateCities.Application.dll
/CreateCities.Application/bin/Debug/net8.0/CreateCities.Application.pdb
/CreateCities/obj/Debug/net8.0/ref/CreateCities.dll
/CreateCities/obj/Debug/net8.0/refint/CreateCities.dll
/CreateCities/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CreateCities/obj/Debug/net8.0/apphost.exe
/CreateCities/obj/Debug/net8.0/CreateCi.187CD02C.Up2Date
/CreateCities/obj/Debug/net8.0/CreateCities.AssemblyInfo.cs
/CreateCities/obj/Debug/net8.0/CreateCities.AssemblyInfoInputs.cache
/CreateCities/obj/Debug/net8.0/CreateCities.assets.cache
/CreateCities/obj/Debug/net8.0/CreateCities.csproj.AssemblyReference.cache
/CreateCities/obj/Debug/net8.0/CreateCities.csproj.CoreCompileInputs.cache
/CreateCities/obj/Debug/net8.0/CreateCities.csproj.FileListAbsolute.txt
/CreateCities/obj/Debug/net8.0/CreateCities.dll
/CreateCities/obj/Debug/net8.0/CreateCities.GeneratedMSBuildEditorConfig.editorconfig
/CreateCities/obj/Debug/net8.0/CreateCities.genruntimeconfig.cache
/CreateCities/obj/Debug/net8.0/CreateCities.GlobalUsings.g.cs
/CreateCities/obj/Debug/net8.0/CreateCities.pdb
/CreateCities/obj/CreateCities.csproj.nuget.dgspec.json
/CreateCities/obj/CreateCities.csproj.nuget.g.props
/CreateCities/obj/CreateCities.csproj.nuget.g.targets
/CreateCities/obj/project.assets.json
/CreateCities/obj/project.nuget.cache
/CreateCities/obj/project.packagespec.json
/CreateCities/obj/rider.project.model.nuget.info
/CreateCities/obj/rider.project.restore.info
/CreateCities/bin/Debug/net8.0/Data/AllCities.json
/CreateCities/bin/Debug/net8.0/Data/Cities.json
/CreateCities/bin/Debug/net8.0/Data/fias.json
/CreateCities/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/CreateCities/bin/Debug/net8.0/appsettings.Development.json
/CreateCities/bin/Debug/net8.0/CreateCities.Application.dll
/CreateCities/bin/Debug/net8.0/CreateCities.Application.pdb
/CreateCities/bin/Debug/net8.0/CreateCities.deps.json
/CreateCities/bin/Debug/net8.0/CreateCities.dll
/CreateCities/bin/Debug/net8.0/CreateCities.exe
/CreateCities/bin/Debug/net8.0/CreateCities.pdb
/CreateCities/bin/Debug/net8.0/CreateCities.runtimeconfig.json
/CreateCities/bin/Debug/net8.0/GeoTimeZone.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
/CreateCities/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/CreateCities/bin/Debug/net8.0/System.IO.Pipelines.dll
/CreateCities/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/CreateCities/bin/Debug/net8.0/System.Text.Json.dll
/.idea/.idea.CreateListSitiesRF/.idea/.gitignore
/.idea/.idea.CreateListSitiesRF/.idea/encodings.xml
/.idea/.idea.CreateListSitiesRF/.idea/indexLayout.xml